// /* add-challenge.component.scss */

// .card {
//   border: 1px solid #ddd;
//   border-radius: 10px;
//   padding: 20px;
//   background-color: #fff;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   transition: transform 0.2s, box-shadow 0.2s;
//   margin: 20px auto; /* Center the card */
// }

// .card-header {
//   background-color: rgba(7, 0, 61, 1); /* Ensure the background color is applied */
//   color: white; /* Ensure the text color is white for better contrast */
//   padding: 10px;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
// }

// .card-body {
//   padding: 20px;
// }

// .form-group {
//   margin-bottom: 15px;
// }

// .form-group label {
//   display: block;
//   margin-bottom: 5px;
// }

// .form-group input,
// .form-group textarea,
// .form-group select {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 3px;
// }

// button[type="submit"] {
//   padding: 10px 20px;
//   font-size: 16px;
//   background-color: #007bff;
//   color: white;
//   border: none;
//   border-radius: 3px;
//   cursor: pointer;
// }

// button[type="submit"]:hover {
//   background-color: #0056b3;
// }

.btn-center {
  display: flex;
  justify-content: center;
}

.upload-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button mat-icon {
  margin-right: 8px;
}

.upload-button input {
  display: none; /* Hide the file input */
}
