<div class="dashboard" style="display: flex; flex-direction: column; min-height: 100vh;">
    <!-- Navbar -->
    <nav class="navbar p-2 navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav fs-6">
                    <!-- Logo -->
                    <li class="nav-item">
                        <img src="./pdi-logo.jpg" class="img-fluid" alt="PDI Logo" style="height: 40px;">
                    </li>
                    <!-- Navbar Links -->
                    <li class="nav-item text-light">
                        <a class="nav-link" aria-current="page" href="#" routerLink="/dashboard"><i class="bi bi-house-door"></i>&nbsp;Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/layout" routerlinkactive="active"> <i class="bi bi-card-list"></i>&nbsp;Challenges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/SubmitedChallenge" routerLinkActive="active"><i class="bi bi-card-checklist"></i>&nbsp;Submitted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" routerLink="/login" routerLinkActive="active"><i class="bi bi-box-arrow-left"></i>&nbsp;Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>
    <div class="scrolling-text mt-2">
        <marquee behavior="scroll" direction="left">
            <p class="mb-0 my-2"> Developer Challenges is a platform designed to facilitate collaboration and problem-solving among
                developers. It serves as a space where developers can raise technical challenges they encounter during their
                work, and seek solutions or advice from the community. Whether it's debugging complex code, understanding
                new technologies, or finding the most efficient algorithm for a task, Developer Challenges provides an
                environment where developers can communicate, share insights, and work together to overcome obstacles. By
                participating in this platform, developers can learn from each other’s experiences, exchange ideas, and
                ultimately enhance their skills and productivity. It encourages a collaborative culture, making it easier
                for developers to find solutions to problems, improve their work, and drive innovation within their teams
                and projects.
            </p>
        </marquee>
    </div>

    <!-- Welcome Header -->
    <div class="content-container-box">
        <div class="container px-5">
            <h2 class="text-white py-1">WELCOME TO DEVELOPER CHALLENGE PORTAL</h2>
        </div>
    </div>

    <!-- Content -->
    <div class="content-container py-2">
        <p class="intro-text">Join exciting challenges, showcase your skills, and collaborate with fellow developers to solve problems and build amazing projects!</p>
        <button class="btn btn-primary pb-2">Get Started</button>
    </div>
    
    <!-- Footer -->
    <footer class="bg-gray-800 text-white p-0 mt-auto">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center py-2">
                <p class="mb-0">© 2025 PDI Technologies. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <router-outlet></router-outlet>
</div>
