/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: white;
}


  

/* Navbar Styles */
.navbar {
    background-color: #07003D;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.nav-item{
    padding: 0px 15px;  
    color: white;
}

.navbar-link:hover {
    background-color: red;
    color: #f8f9fa;
}
.nav-link {
    color: white;
}


/* Welcome Header */
.welcome-header {
    text-align: center;
    margin: 30px 0;
    font-size: 28px;
    font-weight: bold;
    color:#1226AA;
}

/* Content Styles */
.content-container {
    text-align: center;
    margin: 60px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.intro-text {
    font-size: 18px;
    margin: 20px 0;
    color:#00D2F4;
}
.header{
    background-color: #07003D;
    border-radius: 10px;
}
/* dashboard.component.scss */

.bg-gray-800 {
    background-color: #07003D; /* Example color, you can change it to your desired color */
  }
  
  .text-white {
    color: white;
  }
  
  .text-dark {
    color: #333;
  }
  
  footer {
    padding: 20px 0;
    margin-top: auto;
  }